Repository nasa/cumulus, pull requests merged in 2018-10, with the labels that each got.

#601 CUMULUS-951 Increase time to wait for execution to start to 2 minute
  packages/integration-tests/index.js
Labels: integration-test-failure

#617 Retry calls to stepfunction.describeExecution if throttled
  packages/api/models/granules.js
  packages/api/tests/endpoints/granules.js
  packages/api/tests/es/test-es-indexer.js
  packages/common/step-functions.js
  packages/common/test-utils.js
  packages/ingest/aws.js
  tasks/pdr-status-check/index.js
  tasks/pdr-status-check/package.json
  tasks/pdr-status-check/tests/index.js
Labels: integration-test-failure

#614 Improve cleanup of redeploy tests
  example/lambdas/versionUpTest/original.js
  example/lambdas/versionUpTest/update.js
  example/package.json
  example/spec/helpers/configUtils.js
  example/spec/helpers/testUtils.js
  example/spec/redeployment/LambdaRedeploySpec.js
  example/spec/redeployment/LambdaVersionOption.js
  example/spec/redeployment/WorkflowRedeploySpec.js
  packages/integration-tests/lambda.js
Labels: integration-test-failure

#657 Cumulus 970 - add logging for intermittent unit test fail
  tasks/move-granules/tests/index-test.js
Labels: in review

#656 Cumulus 817 dead letter queues
  CHANGELOG.md
  packages/api/config/lambdas.yml
  packages/deployment/app/cloudformation.template.yml
  packages/deployment/app/config.yml
  packages/deployment/lib/kes.js
  packages/deployment/test/test_kes.js
Labels: needs review

#662 Cumulus 817 documentation
  CHANGELOG.md
  docs/assets/sqs_message_attribute.png
  docs/features/lambda_dead_letter_queue.md
  docs/tasks.md
  website/sidebars.json
Labels: PR feedback
